.cityInfoContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem; 
  }
  
  .parkCounterContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-right: 2rem; 
  }
  
  .green5 {
    color: #008E6F;
    font-size: 4rem; 
    font-weight: bold;
    margin-bottom: 1rem; 
  }
  
  .parkDetailsContainer {
    flex-grow: 1; 
    max-width: 600px; 
  }
  
  .parksList {
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .cityImageContainer {
    width: 400px; 
    flex-shrink: 0; 
    margin-left: 2rem; 
  }
  
  .parkDetails {
    max-width: 70%; 
  }
  .greenNumber {
    font-weight: bold;
    text-decoration: underline;
    color: #008E6F;;
  }
  