
  .cityInfoBox {
    text-align: left;
    background: #ffffff;
    padding: 2rem;
    margin: 2rem 0 2rem 0; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    width: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 4px solid black; 
    display: inline-block; 
 
  }

 
  
  .green5 {
    color: #008E6F;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: inline-block; 
    vertical-align: middle; 
  }
  
  .parksList {
    padding: 0;
    list-style-type: none;
    text-align: left;
    max-width: 100%;

  }
  
  .parksList li {
    padding: 0.25rem 0;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .citySelect {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-family: 'Montserrat', sans-serif;
    display: inline-block; 
    margin-right: 1rem; 
  }
  
  .nextImage {
    display: inline-block;
    vertical-align: middle;
  }
  
  
  .dropdownWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 2rem; 
    padding-top: 2rem; 
  }
  
  .dropdownLabel {
    margin-right: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
  }
  