
.cityInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 0 60px;
  padding-top: 60px; 
  margin-top: 0;
}



.parkDetailsContainer {
  box-sizing: border-box;
  width: calc(50% - 10px);
  background: #ffffff;
  padding: 30px;
  border: 2px solid var(--color-black);
  margin: 0;
  margin-right: 20px; 
}




.cityParksTitle {
  margin: 0;
  color: #000;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  align-items: left;
 
}


.greenNumber {
  font-size: 5rem;
  color: #008E6F;
  font-weight: bold;
  margin-bottom: 20px;
}


.cityDescription {
  font-size: 16px;
  color: #000;
  line-height: 1.6;
}


.titleUnderline {
  width: 50px;
  height: 4px;
  background-color: #000;
}


.dropdownLabel {

  margin-right: 1rem;
  margin-right: 20px; 

}


.dropdownWrapper {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5;
}


.citySelect {
  width: auto;
  border: none;
  background-color: transparent;

font-size: 0.9rem;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-self: flex-start;



}
.parksHeader {
  
  background-color: #f0f0f0; 
  padding: 20px; 
}

.parksHeaderHeader {

  padding: 40px; 

}
.dropdownWrapper::after {
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}


.citySelect:focus {
  outline: none;
  border-bottom: 2px solid #555;
}


.imageStyle {
  width: 100%; 
  height: auto;
  padding-top: 0; 
  max-width: none;
}

.footerStyle {
  width: 100%;
  margin: 0 auto;
  height: auto;

  left: 0;
  bottom: 0;
  margin: 0; 
  padding: 0;
}

.mapContainer {
  width: 100%; 
  padding: 20px;
}


.mapContainer img {
  width: 100%;
  height: auto;
}

.content__container {
  max-width: 1280px;
  margin: 0 auto;
}

.parkDetailsContainer h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.parkDetailsContainer hr {
  height: 0;
  border-top: 5px solid var(--color-black);
  width: 60px;
  margin-bottom: 20px;
}

.parkDetailsContainer .stat__content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.parkDetailsContainer .stat__info {
  max-width: 390px;
  padding: 30px;
  border: 2px solid var(--color-black);
}

.parkDetailsContainer .stat__info div p {
  text-align: justify;
}


.featured_parks {
  margin-top: 100px;
  padding: 0 80px;
}


@media (max-width: 650px) {
  .cityInfoContainer {
    flex-direction: column;
    padding: 40px;
  }
  
  .cityParksTitle,
  .cityDescription,
  .parksList {
    text-align: center;
  }}

@media (max-width: 450px) {
  .cityInfoContainer {
    padding: 25px;
  }
}

.parksList {
  list-style-type: disc; 
  padding-left: 20px; 
}

