
.cityInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 0 80px;
  padding-top: 60px; 
  margin-top: 60px;
}


.parkDetailsContainer {
  box-sizing: border-box;
  width: calc(50% - 10px);
  background: #ffffff;
  padding: 30px;
  border: 2px solid var(--color-black);
  margin: 0;
  margin-right: 20px; 
}


.cityParksTitle {
  margin: 0 0 10px 0;
  color: #000;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.greenNumber {
  font-size: 6rem;
  color: #008E6F;
  font-weight: bold;
  margin-bottom: 20px;
}


.cityDescription {
  font-size: 16px;
  color: #000;
  line-height: 1.6;
}


.titleUnderline {
  width: 50px;
  height: 4px;
  background-color: #000;
}


.dropdownLabel {
  font-weight: bold;
  margin-right: 1rem;
}


.dropdownWrapper {
  position: relative;
  display: inline-block;
}


.citySelect {
  width: auto;
  border: none;
  background-color: transparent;
  padding: 5px 30px 5px 10px;
  font-size: 1rem;
  border-bottom: 2px solid #000;
}


.dropdownWrapper::after {
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}


.citySelect:focus {
  outline: none;
  border-bottom: 2px solid #555;
}


.imageStyle {
  width: 100%; 
  height: auto;
}


.mapContainer {
  width: 800px; 
  padding: 20px;
}


.mapContainer img {
  width: 100%;
  height: auto;
}

.content__container {
  max-width: 1280px;
  margin: 0 auto;
}

.parkDetailsContainer h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.parkDetailsContainer hr {
  height: 0;
  border-top: 5px solid var(--color-black);
  width: 60px;
  margin-bottom: 20px;
}

.parkDetailsContainer .stat__content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.parkDetailsContainer .stat__info {
  max-width: 390px;
  padding: 30px;
  border: 2px solid var(--color-black);
}

.parkDetailsContainer .stat__info div p {
  text-align: justify;
}


@media (max-width: 650px) {
  .cityInfoContainer {
    flex-direction: column;
    padding: 40px;
  }
  
  .parkDetailsContainer, .mapContainer {
    width: 100%; 
    margin-right: 0; 
  }
}

@media (max-width: 450px) {
  .cityInfoContainer {
    padding: 25px;
  }
}