.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header__container div {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    gap: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
}
.nav__links {
    gap: 100px;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}