.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.logo a {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
}
.nav__links {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

@media (max-width: 650px) {
    .header__container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .nav__links {
        gap: 30px;
    }
}